<!-- <div class="container">
  <div class="row" >
    <div class="col" *ngFor="let item of service.list" >
      <div class="card" style="width: 18rem;" style="margin: 10px;" style="width: 200px">
        <img
          src="https://media.istockphoto.com/photos/white-drone-flying-over-the-city-picture-id1068642946?b=1&k=6&m=1068642946&s=170x170&h=mTzD9HD26ZCgejKHjSiY63EzeJoUWVVWaZlwCGfOPlQ="
          class="card-img-top" alt="...">

          <label for="">Owner
            <h5 class="card-title">{{item.ownership}}</h5>
          </label>
          <hr>
          <p>Organization</p>
          <a href="#" class="btn btn-primary">Detail</a>
      </div>
    </div>
  </div>
-->

<table class="table ">
  <thead class="thead-inverse">
    <tr>
      <th>ownership</th>
      <th>eiIdentification</th>
      <th>aircraftTtype</th>
      <th>surveillanceCapability</th>
      <th>Image</th>
      <th>organizationId</th>
      <th><a name="" id="" class="btn btn-primary" routerLink="/drone" role="button" style="margin-left: 20px;">Add New</a>
      </th>

    </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let Dr of service.drListist">
        <td>{{Dr.ownership}}</td>
        <td>{{Dr.eiIdentification}}</td>
        <td>{{Dr.aircraftTtype}}</td>
        <td>{{Dr.surveillanceCapability}}</td>
        <td>{{Dr.imageUrl}}</td>
        <td>{{Dr.organizationId}}</td>
        <td>
      <button type="button" class="btn btn-primary" (click)="DeleteDrone(Dr.id)" style="color: red; margin: 20px;">Delete</button>
      <a name="" id="" class="btn btn-primary" routerLink="/drone" role="button" style="width: 50px;" (click)="PopulateData(Dr)">Edit</a>
      <a name="" id="" class="btn btn-primary" routerLink="/Detail" role="button" style="width: 60px; margin: 20px;" >Detail</a>
      </td>

      </tr>
      <tr>
    </tbody>
</table>
