<form #myForm="ngForm" class="mainForm" (ngSubmit)="onSubmit(myForm)" autocomplete="off">

  <div class="form-group">
    <label for="ownership">Name</label>
    <input type="text" name="ownership" #ownership="ngModel" [(ngModel)]="service.droneData.ownership" id="ownership"
      class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">name</small>
  </div>

  <div class="form-group">
    <label for="eiIdentification">eiIdentification</label>
    <input type="text" name="eiIdentification" #eiIdentification="ngModel" [(ngModel)]="service.droneData.eiIdentification" id="eiIdentification"
      class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">identification</small>
  </div>

  <div class="form-group">
    <label for="aircraftTtype">aircraftTtype</label>
    <input type="text" name="aircraftTtype" #aircraftTtype="ngModel" [(ngModel)]="service.droneData.aircraftTtype" id="aircraftTtype"
      class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">type</small>
  </div>

  <div class="form-group">
    <label for="surveillanceCapability">surveillanceCapability</label>
    <input type="text" name="surveillanceCapability" #surveillanceCapability="ngModel" [(ngModel)]="service.droneData.surveillanceCapability" id="surveillanceCapability"
      class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">serve</small>
  </div>

<div class="form-group">
  <label for="organisationID"></label>
  <select class="custom-select" name="organisationID" id="organisationID" #organisationID="ngModel" [(ngModel)]="service.organizationData.organisationID">
    <option selected>Select one</option>
    <option value="item.organisationID" *ngFor="let item of service.orgList">{{item.organisationName}}</option>
  </select>
</div>
<span style="margin-top: 50px;"></span>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
